In [1]:
import yfinance as yf

# Download stock data
data = yf.download("AAPL", start="2023-01-01", end="2023-05-01")

# Print the downloaded data
print(data)

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close
Date
2023-01-03  130.279999  130.899994  124.169998  125.070000  124.706833  \
2023-01-04  126.889999  128.660004  125.080002  126.360001  125.993095
2023-01-05  127.129997  127.769997  124.760002  125.019997  124.656975
2023-01-06  126.010002  130.289993  124.889999  129.619995  129.243622
2023-01-09  130.470001  133.410004  129.889999  130.149994  129.772079
...                ...         ...         ...         ...         ...
2023-04-24  165.000000  165.600006  163.889999  165.330002  165.101639
2023-04-25  165.190002  166.309998  163.729996  163.770004  163.543793
2023-04-26  163.059998  165.279999  162.800003  163.759995  163.533798
2023-04-27  165.190002  168.559998  165.190002  168.410004  168.177383
2023-04-28  168.490005  169.850006  167.880005  169.679993  169.445618

               Volume
Date
2023-01-03  112117500
2023-01-04   89113600
2023-01-05   80962700
2023-01-06   87754700
2023-01-09   70790800
...               ...
2023-04-24   41949600
2023-04-25   48714100
2023-04-26   45498800
2023-04-27   64902300
2023-04-28   55209200

[81 rows x 6 columns]

In [2]:
import pandas as df
import numpy as np

In [1]:
from ta import indicators
import pandas as pd

# Create a sample DataFrame with closing prices
df = pd.DataFrame({'Close': [10, 12, 15, 14, 13, 11, 9, 8]})

# Create a Simple Moving Average (SMA) indicator with a period of 3
sma = indicators.SimpleMovingAverage(df['Close'], window=3)

# Calculate the SMA values
sma_values = sma.sma_indicator()

# Print the calculated SMA values
print(sma_values)

ImportError: cannot import name 'indicators' from 'ta' (C:\Users\28pra\AppData\Local\Programs\Python\Python311\Lib\site-packages\ta\__init__.py)

   Close        SMA
0     10        NaN
1     12        NaN
2     15  12.333333
3     14  13.666667
4     13  14.000000
5     11  12.666667
6      9  11.000000
7      8   9.333333

In [3]:
df = data.reset_index()

NameError: name 'data' is not defined